.homepage {
    h3 {
        margin-top: 20px !important;
        margin-bottom: 15px !important;
    }

    p, h6 {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 75%;
        margin-top: 45px !important;
    }
}